name: Python-Script
on: [push, pull_request]
jobs:
  pytestJob:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Run py Script
        run: python python.py